@media (max-width: 480px) {

  .appName {
    display: none;
  }
  .logo-mobile {
    width: 30px;
    height: 30px;
  }
  /* Adjust spacing and alignment */
  .p-3 {
    padding: 0.5rem;
  }
  .me-4 {
    margin-right: 0.5rem !important;
  }

  .suggestions {
    display: none;
  }

  .content {
    height: 100%;
  }

  .post {
    width: 100%;
  }

  .post-card {
    width: 100%;
  }

  .side-name {
    display: none;
  }

  .nav-item {
    width: 3rem;
  }

  .mobile-sidebar {
    padding: none;
    height: 100%;
  }

  .username {
    display: none;
  }

  .app-logo {
    margin-left: -0.5rem;
  }

  .header {
    display: none;
  }

  .post-card {
    height: auto !important;
  }

  .card-text {
    font-size: 12px;
  }

  .social-buttons {
    flex-wrap: wrap;
  }

  .social-icon {
    margin-right: none !important;
  }

  .createPost {
    width: 100%;
    height: 97%;
  }

  .user-dp {
    width: 28px;
    height: 28px;
  }

  .tags {
    font-size: 10px !important;
  }

  .selected-image {
    width: 200px;
    height: 200px;
  }

  .input-body {
    font-size: 16px;
  }

  .input-tag {
    font-size: 12px;
  }
}
